<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script> -->
    <script src="http://dsw-templates-example.herokuapp.com:8001/socket.io/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
		
            	// Connect to the Socket.IO server.
            	var socket = io.connect();
		socket.on('connect', function() {
        		alert('I\'m connected!');
    		});
		
		var username;
		/*
		$('#nameform').submit(function( event ) {
			var name = $('#fname').val(); //get the name the user typed in
            		socket.emit('setUsername', name); //send a setUsername event to the server
		});
		
		//Event handler for the userJoined event.
		socket.on('userJoined', function(msg) {
			username = msg;
                	$('#start').text('You joined as ' + msg);//display the message in a paragraph
            	});
           
			
            	// Event handler for newUserEvent.
            	// Whenever the server emits a newUserEvent
            	// to the client, the data is displayed in the 
		// "New Users" section of the page.
            	socket.on('newUserEvent', function(msg) {
			if(username) //only show new users after connecting
			{
                		$('#log').append('<br>' + msg);
			}
            	});*/
            
        });
    </script>
</head>
<body>
    <h1>Flask-SocketIO Demo</h1>
	<form id="nameform">
  		<label for="fname">First name:</label><br>
  		<input type="text" id="fname"><br>
  		<input type="submit" value="Submit">
	</form> 
	
	<p id="start"></p>
	
    <h2>New Users:</h2>
    <div id="log"></div>
	
</body>
</html>
